.global_container {
  max-width: 910px;
  margin: 40px auto;

  .profile_container {
    width: 100%;
    max-height: 432px;

    .top_innerContainer {
      width: 906px;
      height: 46px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      .hide_text {
        margin-left: 200px;
        font-size: 22px;
        font-weight: 600px;
        cursor: pointer;
        color: #969696;
      }

      h3 {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        margin: auto 6px auto 1px;
      }

      .edit_button {
        width: 265px;
        height: 90%;
        margin-left: 8px;
        border: 0;
        border-radius: 40px;
        font-size: 20px;
        font-weight: 700;
        color: #925a40;
        background-color: #ec946b6d;
        padding-block: 0px;
        padding-inline: 0px;
        cursor: pointer;
        text-shadow: 0px 3px 4px #ac8b7c;

        &.profile {
          display: none;
        }
      }

      .settings_icon {
        width: 41px;
        height: 41px;
        cursor: pointer;
        margin-left: 258px;

        &.profile {
          display: none;
        }
      }
    }

    .bottom_innerContainer {
      display: flex;
      justify-content: space-between;
      margin-right: 12px;

      .left_side_container {
        img {
          width: 547px;
          height: 312px;
          border: 4px solid black;
          border-radius: 69px;
        }
      }

      .right_side_container {
        width: 304px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.profile {
          align-items: flex-start;
        }

        &.myprofile {
          align-items: center;
        }

        h4 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 7px;
        }

        p {
          font-size: 20px;
          font-weight: 400;
        }

        .about_container {
          width: 283px;
        }

        .btn {
          width: 303px;
          height: 68px;
          border: 4px solid black;
          border-radius: 48px;
          color: white;
          font-size: 32px;
          font-weight: 700;
          cursor: pointer;
          background-color: #ec946b;
        }
      }
    }
  }

  hr {
    width: 100%;
    border: 1px solid #cbcbcb;
    margin: 30px auto;
  }

  .projects_container {
    width: 100%;

    .top_innerPrContainer {
      width: 906px;
      height: 46px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 32px;
        font-weight: 700;
      }

      p {
        font-size: 22px;
        font-weight: 600px;
        cursor: pointer;
        color: #969696;
      }
    }

    .bottom_innerPrContainer {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 18px;
    }
  }

  .expanded_grid_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 62px;
  }
}

.see_hide {
  font-size: 22px;
  font-weight: 600px;
  cursor: pointer;
  color: #969696;
}
