.event_card {
  position: relative;
  cursor: pointer;

  .crown_icon {
    position: absolute;
    top: 50%;
    left: 72%;
    width: 47px;
    height: 35px;
  }

  &.home {
    width: 420px;
    height: auto;

    h2 {
      margin-top: 16px;
      font-size: 22px;
      font-weight: 700;
    }

    p {
      margin-top: 6px;
      font-size: 22px;
      font-weight: 500;
      color: #626262;
    }
  }

  &.myprofile {
    width: 284px;
    max-height: 220px;

    h2 {
      margin-top: 16px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &.profile {
    width: 284px;
    max-height: 220px;

    h2 {
      margin-top: 16px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.default_event_image {
  width: 411px;
  height: 239px;
  object-fit: contain;
  border-radius: 69px;
  border: 6px solid black;
  box-shadow: 9px 9px #cbcbcb;
}

.event_image {
  object-fit: cover;

  &.home {
    width: 411px;
    height: 239px;
    border-radius: 69px;
    border: 6px solid black;
    box-shadow: 9px 9px #cbcbcb;
  }
  &.myprofile {
    width: 278px;
    height: 162px;
    border-radius: 50px;
    border: 4px solid black;
    box-shadow: 6px 6px #cbcbcb;
  }

  &.profile {
    width: 278px;
    height: 162px;
    border-radius: 50px;
    border: 4px solid black;
    box-shadow: 6px 6px #cbcbcb;
  }
}
